<<<<<<< HEAD
body{
    margin : 0em 5em 5em 5em;
}

h1{
    text-align : center;
}
img{
    width : 500px;
    height : 300px;
}
div{
    text-align: center;
}
div p{
    text-align: left;
}
=======
body{
    margin : 0em 5em 5em 5em;
}

h1{
    text-align : center;
}
img{
    width : 500px;
    height : 300px;
}
div{
    text-align: center;
}
div p{
    text-align: left;
}
>>>>>>> 5a06a196b57e138140a0365905d7e6a58c2daf8f
